<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Checkout</h1>
  <p><%= message %></p>
  <p>Order ID: <%= orderId %></p>
  <a href="/">Back to Home</a>
</body>
</html>